  /* .navbar-toggler {
    border-color: white !important; 
    
  }
  .navbar-toggler-icon {
    filter: invert(1); 
  } 
  .navbar-custom {
    position: absolute;
    width: 100%;
    /* background: transparent !important;  */
    /* z-index: 10;
  }
  
  .navbar-custom .nav-link,
  .navbar-custom .nav-dropdown {
    
    color: rgb(255, 253, 253) !important; 
   
  }
   */
 
    